<footer class="footer">
    <div class="container footer-container">

        <div class="">
            <div class="top-nav-logo">
                <svg class="top-nav-logo-icon" width="83" height="23">
                    <use href="/images/sprite.svg#icon-Frame-1"></use>
                </svg>
            </div>
            <p class="footer-subscribe-text">Subscribe to our newsletter for the latest updates on our yoga courses and
                events.</p>
            <div class="footer-input-container">
                <input class="footer-input" type="text" id="email" name="email" placeholder="Your email here" />
                <button type="button" class="footer-button">Join</button>
            </div>
            <p class="footer-subscribe-text-bottom">By subscribing, you consent to our Privacy Policy and agree to
                receive updates.</p>
        </div>

        <div class="footer-column-container ">
            <div id="footer-second-div">
                <h4 class="footer-title">Quick Links</h4>
                <ul class="footer-nav">
                    <li>
                        <a href="#yoga-classes-id" class="footer-nav-link">Yoga Classes</a>
                    </li>
                    <li>
                        <a href="#team" class="footer-nav-link">Team</a>
                    </li>
                    <li>
                        <a href="#pricing" class="footer-nav-link">Pricing</a>
                    </li>
                    <li>
                        <a href="#step-yoga" class="footer-nav-link">Contacts</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4>Connect With Us</h4>
                <ul>
                    <li class="footer-contact-conteiner"><svg class="footer-icon" width="20" height="20">
                            <use href="/images/sprite.svg#icon-facebook"></use>
                        </svg> <a class="footer-contacts">Facebook</a></li>
                    <li class="footer-contact-conteiner"><svg class="footer-icon" width="20" height="20">
                            <use href="/images/sprite.svg#icon-instagram"></use>
                        </svg> <a class="footer-contacts">Instagram</a></li>
                    <li class="footer-contact-conteiner"><svg class="footer-icon" width="20" height="20">
                            <use href="/images/sprite.svg#icon-linkedin"></use>
                        </svg> <a class="footer-contacts">LinkedIn</a></li>
                    <li class="footer-contact-conteiner"><svg class="footer-icon" width="20" height="20">
                            <use href="/images/sprite.svg#icon-youtube"></use>
                        </svg> <a class="footer-contacts">YouTube</a></li>
                </ul>
            </div>
        </div>

        <p class="footer-author">© 2025 Yoga Studio. All rights reserved.</p>

    </div>
</footer>