
    <!-- Breathe in the Space -->
   <section class="space" id="step-yoga">
  <div class="container">
    <h2 class="title-space">
  Breathe in the <span class="br-line">Space</span>
</h2>

    <p class="step-yogabloom">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.
    </p>
    <div class="img-practic">
      <ul class="practic">
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 1@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 1.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 1.jpg" alt="stretching" />
          </picture>
        </li>
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 4@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 4.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 4.jpg" alt="meditation" />
          </picture>
        </li>
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 2@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 2.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 2.jpg" alt="room" />
          </picture>
        </li>
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 5@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 5.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 5.jpg" alt="room" />
          </picture>
        </li>
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/ChatGPT Image May 9, 2025 at 03_46_46 PM@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/ChatGPT Image May 9, 2025 at 03_46_46 PM.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/ChatGPT Image May 9, 2025 at 03_46_46 PM.jpg" alt="meditation" />
          </picture>
        </li>
        <li class="yoga">
          <picture>
            <source srcset="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 6@2x.webp 2x,
                            /anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 6.webp 1x"
                    type="image/webp" />
            <img class="step" src="/anti-title-yoga-app/src/img/Breathe in the Space/Placeholder Image 6.jpg" alt="meditation" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
