<section id="step-yoga">
  <div class="container">
    <h2 class="title-space">
      Breathe in the<br> Space</span>
    </h2>
    <p class="step-yogabloom">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares
      during each session.
    </p>
    <div class="img-practic">
      <ul class="practic">
        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/stretching-mobile-1x.jpg 1x, /images/gallery/stretching-mobile-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/stretching-tablet-1x.jpg 1x, /images/gallery/stretching-tablet-2x.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/stretching-desktop-1x.jpg 1x, /images/gallery/stretching-desktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/stretching-mobile-1x.jpg" alt="stretching" />
          </picture>
        </li>

        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/medetation2-mobail-1x.jpg 1x, /images/gallery/medetation2-mobile-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/medetation1x-tablet.jpg 1x, /images/gallery/medetation2x-tablet.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/medetation2-desktop-1x.jpg 1x, /images/gallery/medetation2-desktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/medetation2-mobail-1x.jpg" alt="meditation2" />
          </picture>
        </li>

        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/room-mobail-1x.jpg 1x, /images/gallery/room-mobail-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/room-tablet-1x.jpg 1x, /images/gallery/room-tablet-2x.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/room-desktop-1x.jpg 1x, /images/gallery/room-desktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/room-mobail-1x.jpg" alt="room" />
          </picture>
        </li>

        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/room2-mobile-1x.jpg 1x, /images/gallery/room2-mobile-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/room2-tablet-1x.jpg 1x, /images/gallery/room2-tablet-2x.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/room2-dsktop-1x.jpg 1x, /images/gallery/room2-dsktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/room2-mobile-1x.jpg" alt="room2" />
          </picture>
        </li>

        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/medetation-mobile-1x.jpg 1x, /images/gallery/medetation-mobile-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/medetation-tablet1x.jpg 1x, /images/gallery/medetation-tablet-2x.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/medetation-desktop-1x.jpg 1x, /images/gallery/medetation-desktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/medetation-mobile-1x.jpg" alt="meditation" />
          </picture>
        </li>

        <li class="yoga">
          <picture>
            <source media="(max-width: 767px)"
              srcset="/images/gallery/medetation3-mobile-1x.jpg 1x, /images/gallery/medetation3-mobile-2x.jpg 2x" />
            <source media="(min-width: 768px) and (max-width: 1335px)"
              srcset="/images/gallery/medetation3-tablet-1x.jpg 1x, /images/gallery/medetation3-tablet-2x.jpg 2x" />
            <source media="(min-width: 1336px)"
              srcset="/images/gallery/medetation3-desktop-1x.jpg 1x, /images/gallery/medetation3-desktop-2x.jpg 2x" />
            <img class="step" src="/images/gallery/medetation3-mobile-1x.jpg" alt="meditation3" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>