<section class="space container" id="step-yoga">
  <h2 class="title-space">
    Breathe in the <span class="br-line">Space</span>
  </h2>
  <p class="step-yogabloom">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during each session.
  </p>
  <div class="img-practic">
    <ul class="practic">
      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/stretching-mobile-1x.jpg 1x, ../img/gallery/stretching-mobile-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/stretching-tablet-1x.jpg 1x, ../img/gallery/stretching-tablet-1x.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/stretching-desktop-1x.jpg 1x, ../img/gallery/stretching-desktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/stretching-mobile-1x.jpg" alt="stretching" />
        </picture>
      </li>

      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/medetation2-mobail-1x.jpg 1x, ../img/gallery/medetation2-mobile-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/medetation1x-tablet.jpg 1x, ../img/gallery/medetation2x-tablet.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/medetation2-desktop-1x.jpg 1x, ../img/gallery/medetation2-desktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/medetation2-mobail-1x.jpg" alt="meditation2" />
        </picture>
      </li>

      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/room-mobail-1x.jpg 1x, ../img/gallery/room-mobail-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/room-tablet-1x.jpg 1x, ../img/gallery/room-tablet-2x.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/room-desktop-1x.jpg 1x, ../img/gallery/room-desktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/room-mobail-1x.jpg" alt="room" />
        </picture>
      </li>

      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/room2-mobile-1x.jpg 1x, ../img/gallery/room2-mobile-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/room2-tablet-1x.jpg 1x, ../img/gallery/room2-tablet-2x.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/room2-dsktop-1x.jpg 1x, ../img/gallery/room2-dsktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/room2-mobile-1x.jpg" alt="room2" />
        </picture>
      </li>

      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/medetation-mobile-1x.jpg 1x, ../img/gallery/medetation-mobile-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/medetation-tablet1x.jpg 1x, ../img/gallery/medetation-tablet-2x.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/medetation-desktop-1x.jpg 1x, ../img/gallery/medetation-desktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/medetation-mobile-1x.jpg" alt="meditation" />
        </picture>
      </li>

      <li class="yoga">
        <picture>
          <source media="(max-width: 767px)" srcset="../img/gallery/medetation3-mobile-1x.jpg 1x, ../img/gallery/medetation3-mobile-2x.jpg 2x" />
          <source media="(min-width: 768px) and (max-width: 1335px)" srcset="../img/gallery/medetation3-tablet-1x.jpg 1x, ../img/gallery/medetation3-tablet-2x.jpg 2x" />
          <source media="(min-width: 1336px)" srcset="../img/gallery/medetation3-desktop-1x.jpg 1x, ../img/gallery/medetation3-desktop-2x.jpg 2x" />
          <img class="step" src="../img/gallery/medetation3-mobile-1x.jpg" alt="meditation3" />
        </picture>
      </li>
    </ul>
  </div>
</section>
