<header class="top-menu">
  <div class="container">
    <nav class="top-nav">
      <div class="top-nav-modal">
        <ul class="top-nav-modal-general">
          <li class="top-nav-modal-item">
            <button class="top-nav-close">
              <svg class="top-nav-close-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-close"></use>
              </svg>
            </button>
          </li>
          <li class="top-nav-modal-item">
            <div class="top-nav-logo">
              <svg class="top-nav-logo-icon" width="83" height="23">
                <use href="/images/sprite.svg#icon-Frame-1"></use>
              </svg>
            </div>
          </li>
          <li class="top-nav-modal-item">
            <a href="" class="top-nav-join"
              >Join <span class="top-nav-join-now">Now</span></a
            >
          </li>
        </ul>
        <div class="top-nav-wrapper top-nav-wrapper-modal">
          <ul class="top-nav-menu top-nav-menu-modal">
            <li class="top-nav-items-modal">
              <a href="" class="top-nav-link-modal">Yoga Classes</a>
            </li>
            <li class="top-nav-items-modal">
              <a href="" class="top-nav-link-modal">Team</a>
            </li>
            <li class="top-nav-items-modal">
              <a href="" class="top-nav-link-modal">Testimonials</a>
            </li>
            <li class="top-nav-items-modal">
              <a href="" class="top-nav-link-modal">Pricing</a>
            </li>
            <li class="top-nav-items-modal">
              <a href="" class="top-nav-link-modal">Contacts</a>
            </li>
          </ul>
        </div>
        <a href="" class="top-nav-join top-nav-join-modal"
          >Join <span class="top-nav-join-now">Now</span></a
        >
      </div>
      <button class="burger-button">
        <svg class="" width="24" height="24">
          <use href="/images/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <div class="top-nav-wrapper">
        <ul class="top-nav-menu">
          <li class="top-nav-items">
            <a href="" class="top-nav-link">Yoga Classes</a>
          </li>
          <li class="top-nav-items">
            <a href="" class="top-nav-link">Team</a>
          </li>
          <li class="top-nav-items">
            <a href="" class="top-nav-link">Testimonials</a>
          </li>
          <li class="top-nav-items">
            <a href="" class="top-nav-link">Pricing</a>
          </li>
          <li class="top-nav-items">
            <a href="" class="top-nav-link">Contacts</a>
          </li>
        </ul>
        <div class="top-nav-logo">
          <svg class="top-nav-logo-icon" width="83" height="23">
            <use href="/images/sprite.svg#icon-Frame-1"></use>
          </svg>
        </div>
      </div>
      <a href="" class="top-nav-join"
        >Join <span class="top-nav-join-now">Now</span></a
      >
    </nav>
  </div>
</header>
