<section class="transform-life">
  <div class="transform-life-image"></div>
  <div class="conteiner conteiner-transform-life">
    <h1 class="transform-general-item">
      Transform Your Life with Our Yoga Courses
    </h1>
    <div class="discover-harmony">
      <p class="discover-harmony-text">
        Discover the harmony of mind and body through our expertly designed yoga
        programs. Join a community dedicated to wellness and personal growth.
      </p>
      <div class="discover-harmony-join">
        <a class="discover-harmony-button" href="#pricing">Join<span class="discover-harmony-dutton-text">Now</span></a>
        <a class="discover-harmony-button discover-harmony-button-learn" href="#step-yoga">Learn More</a>
      </div>
    </div>
  </div>
</section>