<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="checkout-10-container is-open">
      <div class="checkout">
        <button class="checkout-close-button" type="button">
          <svg class="checkout-close-icon" width="32" height="32">
            <use href="../images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <p class="checkout-main-text">Join Now!</p>
        <p class="checkout-label">One Session</p>
        <p class="checkout-main-text">$10</p>
        <form>
          <div class="checkout-form-container">
            <label class="checkout-label" for="user-name">Your Name</label>
            <input
              class="checkout-input"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Liam"
            />
          </div>
          <div class="checkout-form-container">
            <label class="checkout-label" for="email">Email</label>
            <input
              class="checkout-input"
              id="email"
              name="email"
              type="email"
              placeholder="hello@yogabloom.com"
            />
          </div>
          <div class="checkout-form-container">
            <label class="checkout-label" for="phone-number">
              Phone number
            </label>
            <input
              class="checkout-input"
              id="phone-number"
              name="phone-number"
              type="tel"
              placeholder="+380 (95) 123 12 12"
            />
          </div>
          <button class="checkout-send-button" type="submit">
            Go to checkout
          </button>
        </form>
      </div>
    </div>

    <div class="mobile-window-container is-open">
      <div class="mobile-window">
        <button class="mobile-window-close-button" type="button">
          <svg class="mobile-window-close-icon" width="8" height="8">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="mobile-logo">
          <ul class="mobile-nav">
            <li>
              <a class="mobile-link mobile-link-current" href="./index.html">
                Studio
              </a>
            </li>
            <li><a class="mobile-link" href="">Portfolio</a></li>
            <li><a class="mobile-link" href="">Contacts</a></li>
          </ul>
        </nav>
        <address class="mobile-address">
          <ul class="mobile-address-links">
            <li>
              <a
                class="mobile-address-link mobile-address-number"
                href="tel:+110001111111"
              >
                +11 (000) 111-11-11
              </a>
            </li>
            <li>
              <a class="mobile-address-link" href="mailto:info@devstudio.com">
                info@devstudio.com
              </a>
            </li>
          </ul>
        </address>
        <div>
          <ul class="mobile-social">
            <li class="mobile-social-all-icon">
              <a class="mobile-social-link" href="">
                <svg class="mobile-social-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="mobile-social-all-icon">
              <a class="mobile-social-link" href="">
                <svg class="mobile-social-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="mobile-social-all-icon">
              <a class="mobile-social-link" href="">
                <svg class="mobile-social-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="mobile-social-all-icon">
              <a class="mobile-social-link" href="">
                <svg class="mobile-social-icon" width="24" height="24">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
