<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="checkout-10-container is-open">
      <div class="checkout">
        <button class="checkout-close-button" type="button">
          <svg class="checkout-close-icon" width="32" height="32">
            <use href="../images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <p class="checkout-main-text">Join Now!</p>
        <p class="checkout-session">One Session</p>
        <p class="checkout-price">$10</p>
        <form>
          <div class="checkout-form-container">
            <label class="checkout-label" for="user-name">Your Name</label>
            <input
              class="checkout-input"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Liam"
            />
          </div>
          <div class="checkout-email-and-phone">
            <div class="checkout-form-container">
              <label class="checkout-label" for="email">Email</label>
              <input
                class="checkout-input"
                id="email"
                name="email"
                type="email"
                placeholder="hello@yogabloom.com"
              />
            </div>
            <div class="checkout-form-container">
              <label class="checkout-label" for="phone-number">
                Phone number
              </label>
              <input
                class="checkout-input"
                id="phone-number"
                name="phone-number"
                type="tel"
                placeholder="+380 (95) 123 12 12"
              />
            </div>
          </div>
          <button class="checkout-send-button" type="submit">
            Go to checkout
          </button>
        </form>
      </div>
    </div>

    <div class="checkout-65-container is-open">
      <div class="checkout">
        <button class="checkout-close-button" type="button">
          <svg class="checkout-close-icon" width="32" height="32">
            <use href="../images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <p class="checkout-main-text">Join Now!</p>
        <p class="checkout-session">8 Sessions Package</p>
        <p class="checkout-price">$65</p>
        <form>
          <div class="checkout-form-container">
            <label class="checkout-label" for="user-name">Your Name</label>
            <input
              class="checkout-input"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Liam"
            />
          </div>
          <div class="checkout-email-and-phone">
            <div class="checkout-form-container">
              <label class="checkout-label" for="email">Email</label>
              <input
                class="checkout-input"
                id="email"
                name="email"
                type="email"
                placeholder="hello@yogabloom.com"
              />
            </div>
            <div class="checkout-form-container">
              <label class="checkout-label" for="phone-number">
                Phone number
              </label>
              <input
                class="checkout-input"
                id="phone-number"
                name="phone-number"
                type="tel"
                placeholder="+380 (95) 123 12 12"
              />
            </div>
          </div>
          <button class="checkout-send-button" type="submit">
            Go to checkout
          </button>
        </form>
      </div>
    </div>

    <div class="checkout-80-container is-open">
      <div class="checkout">
        <button class="checkout-close-button" type="button">
          <svg class="checkout-close-icon" width="32" height="32">
            <use href="../images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <p class="checkout-main-text">Join Now!</p>
        <p class="checkout-session">12 Sessions Package</p>
        <p class="checkout-price">$80</p>
        <form>
          <div class="checkout-form-container">
            <label class="checkout-label" for="user-name">Your Name</label>
            <input
              class="checkout-input"
              id="user-name"
              name="user-name"
              type="text"
              placeholder="Liam"
            />
          </div>
          <div class="checkout-email-and-phone">
            <div class="checkout-form-container">
              <label class="checkout-label" for="email">Email</label>
              <input
                class="checkout-input"
                id="email"
                name="email"
                type="email"
                placeholder="hello@yogabloom.com"
              />
            </div>
            <div class="checkout-form-container">
              <label class="checkout-label" for="phone-number">
                Phone number
              </label>
              <input
                class="checkout-input"
                id="phone-number"
                name="phone-number"
                type="tel"
                placeholder="+380 (95) 123 12 12"
              />
            </div>
          </div>
          <button class="checkout-send-button" type="submit">
            Go to checkout
          </button>
        </form>
      </div>
    </div>

    <div class="mob-menu-container is-open">
      <div class="mob-menu">
        <div class="mob-menu-header">
          <button class="mob-menu-close-button" type="button">
            <svg class="checkout-close-icon" width="32" height="32">
              <use href="../images/icons.svg#icon-close"></use>
            </svg>
          </button>
          <button class="mob-menu-logo" type="button">
            <svg class="mob-menu-logo-icon" width="84" height="36">
              <use href="../images/icons.svg#icon-logo"></use>
            </svg>
          </button>
          <button class="mob-menu-join-button" type="button">
            Join<span class="mob-menu-join-now"> now</span>
          </button>
        </div>
        <nav class="mob-menu-nav-all">
          <ul class="mob-menu-nav">
            <li>
              <a class="mob-menu-link" href="../index.html">Yoga Classes</a>
            </li>
            <li><a class="mob-menu-link" href="">Team</a></li>
            <li><a class="mob-menu-link" href="">Testimonials</a></li>
            <li><a class="mob-menu-link" href="">Pricing</a></li>
            <li><a class="mob-menu-link" href="">Contacts</a></li>
          </ul>
        </nav>
        <button class="mob-menu-bjoin-button" type="submit">Join</button>
      </div>
    </div>
  </body>
</html>
