<section id="pricing" class="section-pricing">
  <div class="container">
    <p class="pricing-price">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-perfect-plan">
      Choose the perfect plan for your yoga journey.
    </p>
    <ul class="pricing-table">
      <li class="pricing-table-list">
        <h3 class="pricing-list-title">One Session</h3>
        <p class="pricing-list-money">&#x24;10</p>
        <ul class="pricing-table-privilege">
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            1 group session
          </li>
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            10% discount for next 2 Sessions
          </li>
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="pricing-button common-button">Join</button>
      </li>

      <li class="pricing-table-list">
        <h3 class="pricing-list-title">8 Sessions Package</h3>
        <p class="pricing-list-money">&#x24;65</p>
        <ul class="pricing-table-privilege">
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            6 Group Sessions
          </li>
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            2 Individual Sessions
          </li>
          <li class="pricing-table-privilege-list">
            <svg class="pricing-table-svg" width="18" height="13">
              <use href="/images/sprite.svg#icon-vector"></use>
            </svg>
            Priority customer support
          </li>
        </ul>
        <button type="button" class="pricing-button common-button">Join</button>
      </li>

      <li class="pricing-table-list pricing-table-list-width">
        <div class="container-title-money">
          <h3 class="pricing-list-title pricing-list-title-width">
            12 Sessions Package
          </h3>
          <p class="pricing-list-money money">&#x24;80</p>
        </div>
        <div>
          <ul class="pricing-table-privilege privilege">
            <li class="pricing-table-privilege-list">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              8 Group Sessions
            </li>
            <li class="pricing-table-privilege-list">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              4 Individual Sessions
            </li>
            <li class="pricing-table-privilege-list pricing-table-privilege-list-hiden">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              Access to advanced classes
            </li>

            <li class="pricing-table-privilege-list">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              Monthly yoga challenges
            </li>
            <li class="pricing-table-privilege-list">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              Exclusive member discounts
            </li>
            <li class="pricing-table-privilege-list">
              <svg class="pricing-table-svg" width="18" height="13">
                <use href="/images/sprite.svg#icon-vector"></use>
              </svg>
              Community support group
            </li>
          </ul>
        </div>
        <button type="button" class="pricing-button button-width common-button">Join</button>
      </li>
    </ul>
  </div>
</section>