<section class="team-section" id="team">
    <div class="container team-container">
        <div class="team-title-cont">
            <div class="team-title-meet">
                Meet
            </div>
            <h2 class="team-header">
                Our Team
            </h2>
            <p class="team-header-description">
                Dedicated professionals passionate about yoga and wellness.
            </p>
        </div>
        <ul class="team-list">
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/liam-johnson.jpg 1x, /img/team/liam-johnson@2x.jpg 2x"
                        src="/img/team/liam-johnson.jpg" alt="Liam Johnson - Yoga Instructor">
                    </div>
                    <h3 class="team-card-header">Liam Johnson</h3>
                    <p class="team-profession">Yoga Instructor</p>
                    <p class=team-description>
                        Liam specializes in mindfulness and stress reduction techniques through guided meditation.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.instagram.com/goitclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/emma-stone.jpg 1x, /img/team/emma-stone@2x.jpg 2x"
                        src="/img/team/emma-stone.jpg" alt="Emma Stone - Meditation Coach">
                    </div>
                    <h3 class="team-card-header">Emma Stone</h3>
                    <p class="team-profession">Meditation Coach</p>
                    <p class=team-description>
                        Emma has over 10 years of experience in Hatha and Vinyasa yoga.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/sophia-lee.jpg 1x, /img/team/sophia-lee@2x.jpg 2x"
                        src="/img/team/sophia-lee.jpg" alt="Sophia Lee - Pilates Trainer">
                    </div>
                    <h3 class="team-card-header">Sophia Lee</h3>
                    <p class="team-profession">Pilates Trainer</p>
                    <p class=team-description>
                        Sophia combines Pilates with yoga for a holistic fitness approach.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.instagram.com/goitclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/noah-brown.jpg 1x, /img/team/noah-brown@2x.jpg 2x"
                        src="/img/team/noah-brown.jpg" alt="Noah Brown - Yoga Therapist">
                    </div>
                    <h3 class="team-card-header">Noah Brown</h3>
                    <p class="team-profession">Yoga Therapist</p>
                    <p class=team-description>
                        Noah focuses on therapeutic yoga to aid recovery and enhance well-being.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/ava-green.jpg 1x, /img/team/ava-green@2x.jpg 2x"
                        src="/img/team/ava-green.jpg" alt="Ava Green - Fitness Trainer">
                    </div>
                    <h3 class="team-card-header">Ava Green</h3>
                    <p class="team-profession">Fitness Trainer</p>
                    <p class=team-description>
                        Ava integrates strength training with yoga to promote overall fitness.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.facebook.com/goITclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.instagram.com/goitclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.linkedin.com/school/goit-start-your-career-in-it/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list-item">
                <div class="team-card-cont">
                    <div class="team-thumb">
                        <img class="team-image"
                        srcset="/img/team/clark-thomas.jpg 1x, /img/team/clark-thomas@2x.jpg 2x"
                        src="/img/team/clark-thomas.jpg" alt="Liam Johnson - Yoga Instructor">
                    </div>
                    <h3 class="team-card-header">Clark Thomas</h3>
                    <p class="team-profession">Fitness Trainer</p>
                    <p class=team-description>
                        Clark specializes in mindfulness and stress reduction techniques through guided meditation.
                    </p>
                    <ul class="team-soc-list">
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.facebook.com/goITclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="team-soc-item">
                            <a class="team-social-link" target="_blank" href="https://www.instagram.com/goitclub/">
                                <svg class="team-social-icons" width="24" height="24">
                                    <use href="/img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>