<section class="testimonials">
  <div class="container container-testimonials">
    <div class="testimonials-f">
      <h2 class="testimonials-titel">Testimonials</h2>
      <p class="testimonials-text">What our happy clients say</p>
    </div>
    <div class="">
      <ul class="testimonials-list">
        <li>
          <p>
            YogaBloom is a true sanctuary for the mind and body. The classes are
            thoughtfully guided, the atmosphere is calming, and every session
            leaves me feeling more centered, flexible, and recharged. Highly
            recommended for anyone seeking balance and inner peace.
          </p>
          <div>
            <picture
              ><source
                media="(min-width: 1336px)"
                srcset="./img/testimonials/Avatar Image.jpg 1x, ./img/Avatar Image 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/testimonials/Avatar Image.jpg 1x, ./img/Avatar Image 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 375px)"
                srcset="./img/testimonials/Avatar Image.jpg 1x, ./img/Avatar Image 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <img
                class=""
                src="./img/testimonials/Avatar Image.jpg"
                alt="Donna Norman"
              />
            </picture>
            <h4>Donna Norman</h4>
            <p>Yoga Enthusiast</p>
          </div>
        </li>
        <li>
          <p>
            I’ve tried many yoga studios, but YogaBloom stands out with its
            welcoming energy and inspiring instructors. Every class feels like a
            journey inward. It’s now my favorite part of the week.
          </p>
          <div>
            <picture
              ><source
                media="(min-width: 1336px)"
                srcset="./img/testimonials/image.jpg 1x, ./img/image 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/testimonials/image.jpg 1x, ./img/image 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 375px)"
                srcset="./img/testimonials/image.jpg 1x, ./img/image 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <img
                class=""
                src="./img/testimonials/image.jpg"
                alt="Sophie Delgado"
              />
            </picture>
            <h4>Sophie Delgado</h4>
            <p>Marketing Specialist</p>
          </div>
        </li>
        <li>
          <p>
            YogaBloom helped me reconnect with myself. The sessions are
            well-paced, the space is beautiful, and the community is truly
            supportive. A perfect place to grow both physically and mentally.
          </p>
          <div>
            <picture
              ><source
                media="(min-width: 1336px)"
                srcset="./img/testimonials/image-1.jpg 1x, ./img/image1 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/testimonials/image-1.jpg 1x, ./img/image1 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 375px)"
                srcset="./img/testimonials/image-1.jpg 1x, ./img/image1 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <img
                class=""
                src="./img/testimonials/image-1.jpg"
                alt="Rachel Kimura"
              />
            </picture>
            <h4>Rachel Kimura</h4>
            <p>Freelance Illustrator</p>
          </div>
        </li>
        <li>
          <p>
            Whether you're new to yoga or a long-time practitioner, YogaBloom
            offers something special. The mindful approach and soothing guidance
            make each class a peaceful escape from  daily stress.
          </p>
          <div>
            <picture
              ><source
                media="(min-width: 1336px)"
                srcset="./img/testimonials/image-2.jpg 1x, ./img/image2 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/testimonials/image-2.jpg 1x, ./img/image2 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <source
                media="(min-width: 375px)"
                srcset="./img/testimonials/image-2.jpg 1x, ./img/image2 2x 2x.jpg 2x"
                width="56"
                height="56"
                class=""
              />
              <img
                class=""
                src="./img/testimonials/Avatar Image.jpg"
                alt="Emma L. Hart"
              />
            </picture>
            <h4>Emma L. Hart</h4>
            <p>University Student & Part-time Barista</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
