<section class="yoga-classes" id="yoga-classes">
    <div class="container ">
        <div class="heading">
            <p class="tagline">Explore</p>
            <h2 class="heading-title">Discover Our Most Popular Yoga Programs</h2>
            <p class="heading-text">Join our community and elevate your practice with our expertly designed yoga
                programs.</br>
                Each course is tailored to meet various skill levels and personal goals.</p>
        </div>
        <ul class="yoga-column">
            <div class="yoga-content">
                <li class="yoga-column-items">
                    <picture>
                        <source
                            srcset="/images/yoga-classes/begineryoga_desctop1x.jpg 1x, /images/yoga-classes/begineryoga_desctop2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/images/yoga-classes/begineryoga_tablet1x.jpg 1x, /images/yoga-classes/begineryoga_tablet2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="/images/yoga-classes/begineryoga_mobile1x.jpg 1x, /images/yoga-classes/begineryoga_mobile2x.jpg 2x"
                            media="(min-width: 375px) and (max-width: 767px)">
                        <img src="/images/yoga-classes/begineryoga_mobile1x.jpg" class="yogaimage" alt="beginer">
                    </picture>
                    <h3 class="titleimage">Beginner Yoga: Foundations</h3>
                    <p class="heading-text heading-texth3">Learn the basics of yoga in a supportive environment.</p>
                </li>
            </div>
            <div class="yoga-content">
                <li class="yoga-column-items">
                    <picture>
                        <source
                            srcset="/images/yoga-classes/vinyasa_desctop1x.jpg 1x, /images/yoga-classes/vinyasa_desctop2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/images/yoga-classes/vinyasa_tablet1x.jpg 1x, /images/yoga-classes/vinyasa_tablet2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="/images/yoga-classes/vinyasa_mobile1x.jpg 1x, /images/yoga-classes/vinyasa_mobile2x.jpg 2x"
                            media="(min-width: 375px) and (max-width: 767px)">
                        <img src="/images/yoga-classes/vinyasa_mobile1x.jpg" class="yogaimage" alt="vinyasa">
                    </picture>
                    <h3 class="titleimage">Vinyasa Flow: Energize Your Body and Mind</h3>
                    <p class="heading-text heading-texth3">Experience a dynamic sequence
                        that connects breath and movement.</p>
                </li>
            </div>
            <div class="yoga-content">
                <li class="yoga-column-items yoga-column-items-grow">
                    <picture>
                        <source
                            srcset="/images/yoga-classes/restorative_desctop1x.jpg 1x, /images/yoga-classes/restorative_desctop2x.jpg 2x"
                            media="(min-width: 1336px)">
                        <source
                            srcset="/images/yoga-classes/restorative_tablet1x.jpg 1x, /images/yoga-classes/restorative_tablet2x.jpg 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="/images/yoga-classes/restorative_mobile1x.jpg 1x, /images/yoga-classes/restorative_mobile2x.jpg 2x"
                            media="(min-width: 375px) and (max-width: 767px)">
                        <img src="/images/yoga-classes/restorative_mobile1x.jpg" class="yogaimage" alt="restorative">
                    </picture>
                    <h3 class="titleimage">Restorative Yoga: Deep Relaxation and Healing</h3>
                    <p class="heading-text heading-texth3">Unwind and rejuvenate with gentle poses and mindfulness.</p>
                </li>
            </div>
        </ul>
        <a class="join-ref" href="#pricing">
            Join&nbsp;<span class="now-none"> now</span>
        </a>
    </div>
</section>