.checkout-10-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.checkout-10-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.checkout-65-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.checkout-65-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.checkout-80-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.checkout-80-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.checkout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ddebeb;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 64px 16px 112px 16px;
}

.checkout-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddebeb;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkout-main-text {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Cabin', sans-serif;
}

.checkout-session {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 8px;
}

.checkout-price {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Cabin', sans-serif;
}

.checkout-form-container {
  margin-bottom: 24px;
}

.checkout-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  margin-bottom: 8px;
}

.checkout-input {
  width: 100%;
  border-radius: 12px;
  padding: 8px 12px;
  height: 42px;
  border: transparent;
  border-radius: 4px;
  background-color: rgba(13, 11, 10, 0.05);
  outline: transparent;
}

.checkout-send-button {
  display: block;
  width: 100%;
  max-width: 343px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 100px;
  cursor: pointer;
  background-color: #c2d9fc;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.mob-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

.mob-menu-container.is-open {
  opacity: 1;
  pointer-events: auto;
}

.mob-menu-header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 62px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.mob-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcfcfc;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-logo {
  width: 84px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcfcfc;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-join-button {
  width: 70px;
  height: 34px;
  display: block;
  max-width: 343px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 100px;
  padding: 4px 20px;
  cursor: pointer;
  background-color: #c2d9fc;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-nav-all {
  display: flex;
  align-items: center;
  padding: 16px;
  padding-bottom: 276px;
}

.mob-menu-nav {
  display: flex;
  flex-direction: column;
}

.mob-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 0px;
}

.mob-menu-bjoin-button {
  display: block;
  width: 100%;
  max-width: 343px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 100px;
  cursor: pointer;
  background-color: #c2d9fc;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .mob-menu-join-now {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .checkout {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 64px 92px;
    position: absolute;
    width: 704px;
    height: 573px;
    background: #ddebeb;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkout-main-text {
    font-weight: 400;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  .checkout-session {
    font-size: 22px;
  }

  .checkout-price {
    font-size: 36px;
    line-height: 1.4;
  }

  .checkout-email-and-phone {
    display: flex;
    gap: 24px;
  }

  .checkout-form-container {
    min-width: 248px;
  }

  .checkout-send-button {
    max-width: 155px;
  }

  .mob-menu-header {
    gap: 233px;
  }

  .mob-menu-join-button {
    padding: 8px 20px;
    width: 105px;
    height: 42px;
  }

  .mob-menu-bjoin-button {
    max-width: 204px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1336px) {
  .checkout {
    padding: 64px;
    width: 768px;
    height: 573px;
  }

  .checkout-form-container {
    min-width: 308px;
  }

  .mob-menu-container {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
