body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    color: #0D0B0A;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.01em;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    line-height: 1.2em;
}

h3 {
    font-size: 24px;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #0D0B0A;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

section {
    padding: 64px 0;
    margin: 0 auto;
    background-color: #F2FAFA;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    section {
        padding: 40px 0;
    }
}

@media screen and (min-width: 1336px) {
    h2 {
        font-size: 52px;
    }

    section {
        padding: 112px 0;
    }
}