:root {
  --color-scheme-1-background: var(--color-hawkes-blue-lighter);
  --color-neutral-darkest: #0d0b0a;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dadada;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b6b5b5;
  --color-neutral: #868584;
  --color-neutral-dark: #555453;
  --color-neutral-darker: #252322;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-hawkes-blue-lightest);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(13, 11, 10, 0.05);
  --opacity-neutral-darkest-10: rgba(13, 11, 10, 0.1);
  --opacity-neutral-darkest-15: rgba(13, 11, 10, 0.15);
  --opacity-neutral-darkest-20: rgba(13, 11, 10, 0.2);
  --opacity-neutral-darkest-30: rgba(13, 11, 10, 0.3);
  --opacity-neutral-darkest-40: rgba(13, 11, 10, 0.4);
  --opacity-neutral-darkest-50: rgba(13, 11, 10, 0.5);
  --opacity-neutral-darkest-60: rgba(13, 11, 10, 0.6);
  --color-hawkes-blue-lightest: #f8fbfe;
  --color-hawkes-blue-lighter: #dfebeb;
  --color-hawkes-blue-light: #ddebeb;
  --color-hawkes-blue: #c2d9fc;
  --color-hawkes-blue-dark: #9badc9;
  --color-hawkes-blue-darker: #4d5664;
  --color-hawkes-blue-darkest: #3a414b;
  --color-drover-lightest: #f2fafa;
  --color-drover-lighter: #fefdf0;
  --color-drover-light: #fcfacb;
  --color-drover: #fcf9b6;
  --color-drover-dark: #c9c791;
  --color-drover-darker: #646348;
  --color-drover-darkest: #4b4a36;
  --color-tuft-bush-lightest: #fffbf9;
  --color-tuft-bush-lighter: #fff7f4;
  --color-tuft-bush-light: #ffe4db;
  --color-tuft-bush: #ffd9cc;
  --color-tuft-bush-dark: #ccada3;
  --color-tuft-bush-darker: #665651;
  --color-tuft-bush-darkest: #4c413d;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-hawkes-blue-lightest);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-hawkes-blue-lighter);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-drover-lightest);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-drover-lighter);
  --color-scheme-4-text: var(--color-neutral-darkest);
  --color-scheme-4-background: var(--color-drover-lighter);
  --color-scheme-4-border: var(--opacity-neutral-darkest-15);
  --color-scheme-4-accent: var(--color-neutral-darkest);
  --color-scheme-4-foreground: var(--color-drover-lightest);
}
:root {
  --font-family: 'Sarabun', sans-serif;
  --second-family: 'Cabin', sans-serif;
  --third-family: 'Roboto', sans-serif;
}
.testimonials-titel {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-4-text);
  margin-bottom: 20px;
}

.testimonials-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-4-text);
}
.container-testimonials {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1335px) {
  .testimonials-titel {
    font-size: 40px;
  }
  .testimonials-f {
    margin: 0 auto;
  }
  .testimonials-list {
    flex-direction: column;
  }
  .testimonials-text-a {
    max-width: 680px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container-testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background: var(--color-scheme-3-background);
  }

  .testimonials-text-ab {
    padding-bottom: 102px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: var(--color-scheme-4-text);
    padding-bottom: 102px;
  }
  .testimonials-text-ac {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: var(--color-scheme-4-text);
    padding-bottom: 67px;
  }
}

@media (min-width: 1335px) {
  .testimonials-titel {
    font-size: 52px;
  }
  .testimonials-list {
    column-gap: 24px; /* вот ключевой момент! */
  }
  .testimonials-list-item {
    width: calc(50% - 12px); /* 2 элемента в строке, минус половина gap */
  }
  .testimonials-f {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-text-ab {
    padding-bottom: 102px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: var(--color-scheme-4-text);
    padding-bottom: 102px;
  }
  .testimonials-text-ac {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: var(--color-scheme-4-text);
    padding-bottom: 67px;
  }
}

.testimonials-f {
  margin-bottom: 24px;
}
.testimonials-list {
  display: flex;
  row-gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.testimonials-list-container {
  display: flex;
  justify-content: center;

  flex-direction: column;

  border-radius: 12px;
}
.testimonials-text-a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-4-text);

  margin-bottom: 32px;
}
.testimonials-text-ab {
  padding-bottom: 102px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-4-text);
  padding-bottom: 102px;
}
.testimonials-text-ac {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-4-text);
  padding-bottom: 67px;
}
.testimonials-image {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testimonials-foto {
  margin-bottom: 16px;
}
.testimonials-name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;

  color: var(--color-scheme-3-text);
}
.testimonials-prof {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-scheme-3-text);
}
.testimonials-list-item {
  border-radius: 24px;
  background: var(--color-scheme-2-foreground);
  padding: 12px;
}
.testimonials-img {
  border-radius: 100%;
}
